<!DOCTYPE html>
<html lang="en">

<head>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Knowledgebase, Documentation Website HTML5 Template">
    <meta name="keywords" content="Knowledgebase, Knowledgebase, multipurpose, onepage, Documenter, responsive">
    <meta name="author" content="Themeix">

    <!-- Site Title -->
    <title>Documenter - All in One Support, Knowledgebase, Documentation Website HTML5 Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon-2.png">

    <!-- Bootstrap CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> 

    <!--Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Mean Menu CSS -->
    <link rel="stylesheet" href="css/meanmenu.min.css">

    <!-- Main Stylesheet -->
    <link href="style.css" rel="stylesheet">

    <!-- Responsive CSS -->
    <link href="css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>

<body>

    <!-- Start Header -->
    <header>
        <!-- Start Mainmenu -->
        <div class="menu-area navbar-fixed-top ">
            <div class="container">
                <div class="row">
                    <div class="mainmenu-wrapper">
                        <!-- Start Header Logo -->
                        <div class="col-xs-12 col-md-3">
                            <div class="header-logo">
                                <a href="index.html"><img src="images/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <!-- End Header Logo -->
                        <!-- Start Navigation -->
                        <div class="col-xs-12 col-md-9">
                            <div class="mainmenu">
                                <div class="navbar navbar-right">
                                    <div class="navbar-header visible-xs">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>
                                    <div class="collapse navbar-collapse top-menu">
                                        <nav>
                                            <ul class="nav navbar-nav">
                                                <li><a href="index.html">Home<span>Get everything</span></a>
                                                   <ul class="dropdown">
                                                       <li><a href="index.html">Home Version 1</a></li>
                                                       <li><a href="index-2.html">Home Version 2</a></li>
                                                   </ul>												
												</li>
                                                <li><a href="about-us.html">About<span>Know about us</span></a></li>				
												<li class="active"><a href="questions.html">Questions<span>Ask Your Question</span></a>
                                                    <ul class="dropdown">
                                                        <li>
                                                            <a href="questions.html"> <span><i class="fa fa-question-circle"></i></span>All Questions</a>
                                                        </li>
														<li><a href="ask-question.html"><span><i class="fa  fa-question-circle-o"></i></span>Ask Questions</a></li>
                                                        <li><a href="answers.html"><span><i class="fa fa-reply-all"></i></span>Answers</a></li>
                                                        <li><a href="login.html"><span><i class="fa fa-sign-in"></i></span>Login</a></li>
                                                        <li><a href="register.html"><span><i class="fa fa-registered"></i></span>Register</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Pages<span>See All Pages</span></a>
                                                   <ul class="dropdown">
                                                       <li><a href="index-2.html">Home 2</a></li>
                                                       <li><a href="blog.html">Blog</a></li>
                                                       <li><a href="blog-details.html">Blog Details</a></li>
                                                       <li><a href="questions.html">Questions</a></li>
                                                       <li><a href="answers.html">Answers</a></li>
                                                       <li><a href="updates.html">Updates</a></li>
                                                       <li><a href="contact.html">Contact</a></li>
                                                       <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                                       <li><a href="right-sidebar.html">Right Sidebar</a></li>
                                                       <li><a href="login.html">login</a></li>
                                                       <li><a href="register.html">Register</a></li>
                                                       <li><a href="404.html">404</a></li>
                                                   </ul>
                                                </li>
                                                <li><a href="blog.html">Blog<span>All Blog Posts</span></a></li>
                                                <li><a href="updates.html">Updates<span>Latest releases</span></a></li>
                                                <li><a href="contact.html">Contact<span>Let us contact</span></a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Navigation -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mainmenu -->
        <!-- Start Mobile Menu Area -->
        <div class="col-xs-12 visible-xs">
            <div class="mobile-menu">
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a>
                            <ul>
                                <li><a href="index.html">Home Version 1</a></li>
                                <li><a href="index-2.html">Home Version 2</a></li>
                            </ul>						
						</li>
						<li><a href="about-us.html">About</a></li>
                        <li class="active"><a href="#">Questions</a>
							<ul>
								<li><a href="questions.html"> Questions</a></li>
								<li><a href="ask-question.html">Ask Questions</a></li>
								<li><a href="answers.html">Answers</a></li>
								<li><a href="login.html">Login</a></li>
								<li><a href="register.html">Register</a></li>								
							</ul>
						</li>
                        <li><a href="#">Pages</a>
							<ul>
							   <li><a href="index-2.html">Home 2</a></li>
							   <li><a href="blog.html">Blog</a></li>
							   <li><a href="blog-details.html">Blog Details</a></li>
							   <li><a href="questions.html">Questions</a></li>
							   <li><a href="answers.html">Answers</a></li>
							   <li><a href="updates.html">Updates</a></li>
							   <li><a href="contact.html">Contact</a></li>
							   <li><a href="left-sidebar.html">Left Sidebar</a></li>
							   <li><a href="right-sidebar.html">Right Sidebar</a></li>
							   <li><a href="login.html">login</a></li>
							   <li><a href="register.html">Register</a></li>
							   <li><a href="404.html">404</a></li>							
							</ul>
						</li>						
						<li><a href="blog.html">Blog</a></li>
						<li><a href="updates.html">Updates</a></li>
						<li><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- End MObile Menu Area -->
    </header>
    <!-- End Header -->
    <!-- Start Page Banner Area -->
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>DWQA Ask Question</h2>
                        <span class="sub-title"><a href="#">Home </a> / DWQA Ask Question</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pages Banner Area -->
    <!-- Start Questions Area -->
    <div class="question-area themeix-ptb">
        <div class="container">
            <div class="row">
                <!-- Start Question -->
                <div class="col-md-9">
                    <div class="questions-wrapper">
                        <div class="dwqa-container">
							<form action="#" class="dwqa-content-edit-form">
								<label for="question-title">Title</label>
								<input id="question-title" type="text" name="question-title" />
								
								<label for="question-content">Question Details</label>
								<textarea name="question-content" id="question-content" cols="30" rows="10"></textarea>
								
								<label for="question-category">Category</label>
								<select name="question-category" id="question-category" class="postform">
									<option value="-1">Select question category</option>
									<option class="level-0" value="16">General</option>
									<option class="level-2" value="16">Support</option>
									<option class="level-3" value="16">Pre Sale</option>
								</select>								

								<label for="question-tag">Tag</label>
								<input id="question-tag" type="text" name="question-tag" />
								
								<input id="wp-submit" type="submit" value="Submit" name="wp-submit" class="themeix-btn hover-bg">
							</form>
						

						
						</div>
                    </div>
                </div>
                <!-- End Question -->
                <!-- Start Blog Sidebar -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="blog-sidebar">
                            <div class="col-md-12 col-sm-6">
                                <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list">
                                    <h2 class="widget-title">Topics Categories</h2>
                                    <ul>
                                        <li><a href="#">Introduction</a></li>
                                        <li><a href="#">Theme Options</a></li>
                                        <li><a href="#">Typography</a></li>
                                        <li><a href="#">Demo Install</a></li>
                                        <li><a href="#">Billing</a></li>
                                        <li><a href="#">Product Features</a></li>
                                        <li><a href="#">Customer Support</a></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-12 col-sm-6">
                                <aside class="widget dwqa-widget dwqa-popular-question">
                                    <div class="sidebar-popular-post dwqa-popular-questions sidebar-list">
                                        <h2 class="widget-title">Popular Questions</h2>
                                        <ul>
                                            <li><a href="#">How to pin a sticky question to the top of the questions page?</a> <span>asked by Kiki Ralp</span></li>
                                            <li><a href="#">How can I delete more than one post at a time?</a> <span>asked by Antawn Fiennes</span></li>
                                            <li><a href="#">How do I require a password if I forgot it?</a> <span>asked by Kiki Ralp</span></li>
                                            <li><a href="#">Where I can see or edit ratings I’ve posted?</a> <span>asked by Antawn Fiennes</span></li>
                                            <li><a href="#">Who can post ratings and reviews?</a> <span>asked by Antawn Fiennes</span></li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Blog Sidebar -->
            </div>
        </div>
    </div>
    <!-- End  Questions Area -->
    <!-- Testimonials -->
    <section class="testimonials-section themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="themeix-section-title text-center">
                        <h2>What Our Happy Customer Says</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="testimonials-wrapper owl-carousel">
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>John Doe</h5>
                                <span>E-Commerce Businessmen</span>
                            </div>
                        </div>
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>Mr. James</h5>
                                <span>Web Designer & SEO Expert</span>
                            </div>
                        </div>
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>John Doe</h5>
                                <span>E-Commerce Businessmen</span>
                            </div>
                        </div>
                        <div class="single-testimonial wow zoomIn animated">
                            <div class="testimonial-info">
                                <p>Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsu liquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Lorem ipsum.</p>
                            </div>
                            <div class="testimonial-author">
                                <h5>Mr. James</h5>
                                <span>Web Designer & SEO Expert</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Testimonials -->
    <!-- Start Call To Action Area -->
    <div class="call-to-action-area hover-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>Do you want to get the latest version documenter?</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="login.html" class="themeix-purchase-btn-3">purchase now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->
    <!-- Start Footer Area -->
    <footer>
        <div class="footer-area themeix-ptb">
            <div class="container">
                <div class="row">
                    <div class="footer-wrapper">
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">About Us</h3>
                                <div class="single-footer-text">
                                    <p>Vestibulum quis cursus mi, vitae mollis metus.Nulam eu lects gravida, bibendum enim in, vulputate erat. Vestibulum ullamcorper ornare magna</p>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li class="fb-link"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li class="gp-link"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">Recent Products</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a target="_blank" href="https://themeforest.net/item/hostix-responsive-parallax-hosting-website-html5-template/19747783">Hostix</a></li>
                                        <li><a target="_blank" href="https://themeforest.net/item/cleanhost-responsive-web-hosting-html5-template/19950579">Cleanhost</a></li>
                                        <li><a target="_blank" href="https://themeforest.net/item/law-firm-lawyer-business-psd-template/19906137">Law Firm</a></li>
                                        <li><a target="_blank" href="https://themeforest.net/item/etube-video-blog-site-psd-template/19821837">eTube</a></li>
                                        <li><a href="#">Documenter</a></li>
                                        <li><a href="#">Spa Care</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">get support</h3>
                                <div class="footer-list">
                                    <ul>
                                        <li><a href="#">Our Forum</a></li>
                                        <li><a href="#">Facebook Page</a></li>
                                        <li><a href="#">Live Chat</a></li>
                                        <li><a href="#">Toll Free Number</a></li>
                                        <li><a href="#">Support Agent</a></li>
                                        <li><a href="#">Tickets</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3">
                            <div class="single-footer">
                                <h3 class="footer-heading">get support</h3>
                                <p>Don’t miss our latest realeses and important updates</p>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <input type="email" name="subscribe" id="subscribe" class="form-control" placeholder="Email" required>
                                        <button type="submit" class="hover-bg">Go</button>
                                    </form>
                                    <span>We never do spam with you</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom Area -->
        <div class="footer-bottom-area themeix-pb">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-bottom">
                            <div class="footer-logo">
                                <a href="#"><img src="images/footer-logo.png" alt="logo"></a>
                            </div>
                            <div class="footer-links">
                                <ul>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Refund Policy</a></li>
                                    <li><a href="#">Disclaimer</a></li>
                                </ul>
                            </div>
                            <div class="copyright-text">
                                <p>All content Documenter &copy; 2017 - All rights reserved. - Proudly made with <a href="http://designingmarket.com">Designing Market</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom Area -->
        <!-- Start Scroll To Top -->
        <div class="scroll-top">
            <div class="scroll-icon">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <!-- End Scroll To Top -->
    </footer>
    <!-- End Footer Area -->

    <!-- jquery min -->
    <script src="js/jquery.min.js"></script>

    <!-- Bootstrap Js -->
    <script src="js/bootstrap.min.js"></script>

    <!-- jQuery Easing -->
    <script src="js/jquery.easing.js"></script>

    <!-- Owl Carousel Js -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- Google Map -->
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>

    <!-- Mean Menu -->
    <script src="js/jquery.meanmenu.js"></script>

    <!-- Particles JS CDN -->
    <script src="js/particles.min.js"></script> 

    <!-- Main Js -->
    <script src="js/main.js"></script>
</body>

</html>