{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- Start Contact Info -->
    <div class="contact-info-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="contact-info-wrapper">

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="themeix-subsection">
                                    <h3 class="themeix-h3">Hello FencingWorld!</h3>
                                    <p>안녕하세요. 저는 강남펜싱클럽을 다니고 있고, 플러레한 지는 3년차입니다:)<br>
                                    펜싱 커뮤니티가 없어서 아쉬운 마음에 본업을 살려서 만들어보았습니다.<br>
                                    펜싱을 좋아하고 동호인으로서, 이 업계에서 펜싱을 즐기고자 하는 동호인들에게 나눌 수 있는 기회가 많아졌으면 좋겠습니다.<br>
                                    문의 및 기능 제안 등은 아래 이메일을 통해 주세요. 펜싱인은 언제든 환영합니다!</p>
                                </div>
                            </div>
                        </div>
                        <div class="contact-address">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="single-address">
                                        <h5 class="themeix-h5">Address</h5>
                                        <div class="address-list">
                                            <p>서울시 성동구 성수동 어딘가에 출몰</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single-address">
                                        <h5 class="themeix-h5">Email</h5>
                                        <div class="address-list">
                                            <ul>
                                                <li>minjiyang95@gmail.com</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="single-address">
                                        <h5 class="themeix-h5">Donation</h5>
                                        <div class="address-list">
                                            <p>후원: 카카오뱅크 3333-02-6971619 양민지</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Info -->
    <!-- Start Call To Action Area -->
    <div class="call-to-action-area hover-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>2018 펜싱 클럽 코리아 오픈대회</h2>
                        <p>2018.04.14(토)-2018.04.15(일)</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="login.html" class="themeix-purchase-btn-3">자세히 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->
{% endblock %}