{% extends '_base.html' %}
{% load static %}
{% block content %}
{% include 'fencing_category.html' %}
                <!-- Start Blog Content -->
                <div class="col-md-9">
                    <div class="logn-desc">
                        <h2 class="themeix-h2">펜싱의 역사</h2>
                        <p>스포츠 펜싱은 18세기의 스몰소드에서 직접적으로 비롯되지만 더 거슬러 올라가면 16세기부터 등장한 레이피어에서부터 그 기원을 찾을 수 있다.
                            다만 이때의 레이피어 검술은 현대의 펜싱과는 매우 달랐으며, 넓은 보폭, 자유로운 측면 이동, 막고 공격하는 리포스트(Reposte)가 아닌 공방일체의 원리, 이탈리안 스타일의 경우 피격 면적을 줄이기 위해 허리를 최대한 숙이고 얼굴만 전면에 내밀고, 최대한 긴 레이피어와 런지(Lunge)로 사거리를 극대화하는 전법을 추구했다.
                            스페인 스타일 중 특징적이었던 데스트레자 펜싱은 상체를 꼿꼿이 세우고 팔을 쭉 뻗고, 커다란 컵가드를 가진 레이피어를 이용해 손의 움직임만으로 레이피어의 찌르기 공격을 빗겨낸다는 개념과 더불어 보법과 공격, 방어의 모든 궤도를 정리하여 하나의 도표로 정리, 기하학의 원리로 설명하는 수학을 응용한 검술 이론을 가지고 있었다.</p>

                        <p>스몰소드와 프랑스의 검사 무슈 라바의 등장으로 현대 펜싱의 기본 이론이 완성된다. 스몰소드는 호신도구가 레이피어에서 권총으로 옯겨감에 따라 도검이 휴대를 위해 짧고 가벼워지고, 베는 날이 없거나 의미가 없을 만큼 폭이 좁으며, 장식성을 추구한 무기로써 말하자면 장식용 바늘이라고 까이기도 하는 무기였다.
                            그러나 실전성과는 별개로 사회적 조류를 어찌할 수가 없었기 때문에 스몰소드가 새로운 유럽 도검의 대세를 이루며 그 검술이 연구 개발되게 된다.
                            근본검리 자체는 레이피어에서 내려왔지만 가볍고 빠르며 찌르기만 가능한 도검의 특성에 의해 공방이 분리되는 리포스트, 일직선적인 보법, 왼손에 다른 무기를 드는 경향이 생겨났고 이러한 검술은 무슈 라바의 등장과 함께 현대 펜싱과 큰 차이가 없는 형태로 정립된다.
                            즉, 현대 스포츠 펜싱의 토대는 프랑스 검술로 현재까지 모든 펜싱 경기는 프랑스어로 진행되며 프랑스는 펜싱 강국들 중 하나이다.</p>

                        <p>스몰소드는 레이피어의 뒤를 이어서 호신/결투용이자 귀족 복식의 악세사리로써 18세기 내내 사용되었지만,
                            점차 도검을 패용하는 문화가 사라져가면서 스몰소드도 쇠퇴하고 결투의 규칙도 살상에서 상처만 먼저 입혀 피만 보면 이기는 퍼스트 블러드(First Blood)로 규칙이 바뀌면서 노출된 팔과 손을 노리는 문화가 커지게 된다.
                            이에 따라 손을 보호하기 위해 커다란 컵가드가 붙게 되고, 결투에서 유리하기 위해 길어지고, 차고 다니지 않으므로 장식성도 배제한 단순한 형태가 되며 펜싱의 에페(Épée)가 등장하게 되었다.</p>

                        <p>플뢰레(Fleuret)는 에페의 훈련용으로 처음 등장하였다.
                            이 당시 에페는 실전 검술은 아니었지만 여전히 진검을 사용했는데 부상을 막기 위하여 에페보다 칼이 가볍고 잘 휘어졌으며, 당시 보호구가 몸통에만 있었기에 전신이 공격 부위인 에페와 달리 몸통만 타켓이었다.
                            엄밀히 말하면 플뢰레는 에페보다 스몰소드에서 먼저 파생된 검이지만 현재 펜싱의 플뢰레는 훈련용에서 유래했기에 에페의 훈련용에서 스포츠로 발전했다고 여겨진다.</p>

                        <p>스몰소드에서 유래한 플뢰레나 에페와는 달리 사브르(Sabre, 미국식 영어로는 Saber)는 기병용 도검 세이버에서 유래했다.
                            말 위에서 한 손으로 공격하므로 칼이 가급적 가볍게 변화했고, 적의 상체를 찌르거나 베도록 검술이 진화했다.
                            스포츠화가 되면서도 특징이 남아 펜싱에서 유일하게 칼 끝이 아닌 칼날로 득점이 가능하고 상체가 공격범위이며 펜싱 칼들 중 가장 가볍고 잘 휘어진다.</p>
                        <br>
                        <p><i><a href="https://namu.wiki/w/%ED%8E%9C%EC%8B%B1" target="_blank"><나무위키에서 발췌></a></i></p>

                    </div>
                </div>
                <!-- End Blog Content -->
            </div>
        </div>
    </div>
    <!-- End Blog Area -->
    <!-- Start Call To Action Area -->
    <div class="call-to-action-area danger-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>강남펜싱클럽</h2>
                        <p>선릉역과 역삼역 사이 / 주차지원 / 사우나시설까지</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="https://map.naver.com/local/siteview.nhn?code=31403329&_ts=1521893268041" class="themeix-purchase-btn" target="_blank">자세히 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->
{% endblock %}