{% extends '_base.html' %}
{% load static %}
{% block content %}
{% include 'square_category.html' %}
                <!-- Start Blog Content -->
                <div class="col-md-9">
                    <div class="logn-desc">
                        <h2 class="themeix-h2">플리마켓</h2>
                        <div class="alert alert-dismissible alert-info">
                            <p>공지사항 : 준비중입니다 ㅠㅠ!!</p>
                        </div>
                        <!--
                        <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">제목</th>
                            <th scope="col">글쓴이</th>
                            <th scope="col">날짜</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in posts %}
                        <tr>
                            <th scope="row">{{ post.id }}</th>
                            <td>{{ post.title }}</td>
                            <td>{{ post.author }}</td>
                            <td>{{ post.created_at }}</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                        </table>
                        -->




                    </div>
                </div>
                <!-- End Blog Content -->
            </div>
        </div>
    </div>
    <!-- End Blog Area -->
    <!-- Start Call To Action Area -->
    <div class="call-to-action-area danger-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>강남펜싱클럽</h2>
                        <p>선릉역과 역삼역 사이 / 주차지원 / 사우나시설까지</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="https://map.naver.com/local/siteview.nhn?code=31403329&_ts=1521893268041" class="themeix-purchase-btn" target="_blank">자세히 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->
{% endblock %}