
    <div class="page-banner-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-title">
                        <h2>광장</h2>
                        <!-- <span class="sub-title"><a href="#">Home </a> / left sidebar</span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Pages Banner Area -->
    <!-- Start Blog Area -->
    <div class="blog-area themeix-ptb">
        <div class="container">
            <div class="row">
                <!-- Start Blog Sidebar -->
                <div class="col-md-3">
                    <div class="row">
                        <div class="blog-sidebar">
                            <div class="col-md-12 col-sm-6">
                                <aside id="dwqa-categories-2" class="widget widget_categories dwqa_widget dwqa_widget_categories sidebar-list" style="padding-bottom:20px;">
                                    <h2 class="widget-title">Square</h2>
                                    <ul>
                                        <li><a href="{% url 'free_board' %}">자유게시판</a></li>
                                        <li><a href="{% url 'qna_board' %}">QnA</a></li>
                                        <li><a href="{% url 'fleamarket' %}">플리마켓</a></li>
                                    </ul>
                                </aside>
                            </div>
                            <div class="col-md-12 col-sm-6">
                            </div>
                        </div>
                    </div>
                </div>