{% extends '_base.html' %}
{% load static %}
{% block content %}
    <!-- Start Contact Info -->
    <div class="contact-info-area themeix-ptb">
        <div class="container">
            <div class="row">
                <div class="contact-info-wrapper">

                    <div class="col-sm-12">
                        <div class="row">

                                <div class="themeix-subsection">
                                    <!-- <h3 class="themeix-h3">업데이트 내역 / 예정</h3> -->
                                    <div class="alert alert-danger">
                                        <h3>업데이트 예정</h3>
                                        <li>일반 회원가입 & 소셜 회원가입 기능 추가</li>
                                        <li>랭킹 추가</li>
                                        <li>시합정보/결과 추가</li>
                                    </div>
                                    <div class="alert alert-success">
                                        <h3>업데이트 내역</h3>
                                        <li>3월 30일 이후 업데이트 내역 올립니다!</li>
                                    </div>

                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Info -->
    <!-- Start Call To Action Area -->
    <div class="call-to-action-area hover-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="action-content">
                        <h2>2018 펜싱 클럽 코리아 오픈대회</h2>
                        <p>2018.04.14(토)-2018.04.15(일)</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="purchase-link text-right">
                        <a href="login.html" class="themeix-purchase-btn-3">자세히 보기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Call To Action Area -->
{% endblock %}